@font-face {
    font-family: "Houschka";        
    src: url('HouschkaRoundedAlt-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    /*body {
        font-family: 'Houschka', sans-serif;
    }*/